.auth-page {
    display: flex;
    height: 100vh;
}

.auth-illustration {
    background-color: #083c74;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px;
}

.auth-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.auth-illustration img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.auth-form {
    flex: 1;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
}

.auth-form h2 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.auth-form input {
    padding: 0.5rem 0.6rem;
   
    font-size: 0.9rem;
   
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 320px;
 
}

.auth-form button {
    padding: 0.6rem;
    font-size: 0.95rem;
    background-color: #05318f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    max-width: 320px;
}

.auth-form button:hover {
    background-color: #0a3871;
}

.auth-form p {
    margin-top: 1rem;
    font-size: 0.85rem;
}

.auth-form a {
    color: #0a3871;
    text-decoration: none;
}
.auth-links {
    margin-top: 0.6rem;
    display: flex;
    gap: 0.75rem;
    font-size: 0.85rem;
    max-width: 340px;
}

.auth-links a {
    color: #0a3871;
    text-decoration: none;
}

.auth-links a:hover {
    text-decoration: underline;
}

.separator {
    color: #999;
}