.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  color: #f1f2f5;
  margin-bottom: 30px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  transition: background 0.3s ease;
}

.sidebar-menu li:hover {
  background-color: #4b4aa7;
}

.active-link {
  background-color: #404ca0;
  color: rgb(46, 41, 204);
  font-weight: bold;
}
