.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f6fa;
}

.forgot-box {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.forgot-box h2 {
    margin-bottom: 10px;
    color: #0a3871;
}

.forgot-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.forgot-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.forgot-box button {
    width: 100%;
    padding: 12px;
    background-color: #0a3871;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-box button:hover {
    background-color: #0a3871
}

.back-login {
    margin-top: 15px;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}